
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoanManagementSystem.Models.EMICalculatorModel

@{
    ViewBag.Title = "EMI Calculator";
}

<h2>EMI Calculator</h2>

@using (Html.BeginForm("CalculateEMI", "EMICalculator", FormMethod.Post))
{
    <div>
        <label>Loan Amount:</label>
        @Html.TextBoxFor(m => m.LoanAmount, new { @class = "form-control" })
    </div>
    <div>
        <label>Annual Interest Rate (%):</label>
        @Html.TextBoxFor(m => m.InterestRate, new { @class = "form-control" })
    </div>
    <div>
        <label>Loan Tenure (Months):</label>
        @Html.TextBoxFor(m => m.LoanTenure, new { @class = "form-control" })
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Calculate EMI</button>
    </div>
}

@if (Model != null && Model.EMIAmount > 0)
{
    <h3>Your EMI is: @Model.EMIAmount</h3>
}


