
@{
    ViewBag.Title = "ViewRegistrationDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<LoanManagementSystem.Models.RegistrationDocuments>

<h2>Registration Documents</h2>

<table class="table">
    <thead>
        <tr>
            <th>Document Type</th>
            <th>Document Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
            <tr>
                <td>@doc.DocumentType.Name</td>
                <td><a href="@doc.DocLink" target="_blank">View Document</a></td>
            </tr>
        }
    </tbody>
</table>


