
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Payment Success";
}
<h2>Payment Successful!</h2>
<p>Thank you for your payment.</p>
<script>
    $(document).ready(() => {
        $.ajax({
            url: "/payment/UpdateApplicationAfterPayment",
            type: "GET",
            success: () => {
                setTimeout(function () {
                    window.location.href = "https://localhost:44330/Customer"
                }, 2000);                
            },
            error: (err) => {
                alert("There was an error adding this payment")
            }
        })
    })
</script>