
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Payment Success";
}
<h2>Payment Successful!</h2>
<p>Thank you for your payment.</p>
<script>
    $(documemt).ready(() => {
        $.ajax({
            url: "/payment/addpayment",
            type: "GET",
            success: () => {
                setTimeout(function () {
                    window.location.href = "/Customer/Index"
                }, 2000);                
            },
            error: (err) => {
                alert("There was an error adding this payment")
            }
        })
    })
</script>