
@{
    ViewBag.Title = "ApprovalDocIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HttpPostedFileBase

<h2>Upload Documents</h2>

@using (Html.BeginForm("UploadApprovalDoc", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Aadhaar</label>
    <input required type="file" name="file" /><br />
    <label>PAN card</label>
    <input required type="file" name="file" /><br />
    <label>Your Passport size Image</label>
    <input required type="file" name="file" /><br />
    <button type="submit">Upload</button>
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

