
@{
    ViewBag.Title = "ColateralDocIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ColateralDocIndex</h2>
@model HttpPostedFileBase

<h2>Upload Documents</h2>

@using (Html.BeginForm("UploadCollateralDoc", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Vehicle Document</label>
    <input required type="file" name="file" /><br />
    <label>House Document</label>
    <input required type="file" name="file" /><br />
    <label>Shares Document</label>
    <input required type="file" name="file" /><br />
    <button type="submit">Upload</button>
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}



