
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section NavbarOptions {
    <div style="display: flex; align-items: center;">
        <p class="m-2 text-light btn" onclick="displayAnalytics()">
            Analytics
        </p>
        <p class="m-2 text-light btn" onclick="displaySchemes()">
            View Loan Schemes
        </p>
        <p class="m-2 text-light btn" onclick="displayOfficers()">
            View All Loan Officers
        </p>
    </div>

}


<div id="detailList" class="container">

    <div id="analytics">

    </div>
    <div id="loanschemes" style="display:none">

        <div id="addscheme" style="display:none">
            <h1 class="my-3">
                Add New Scheme
            </h1>
            @Html.Partial("_PartialSchemeAdd")
        </div>

        <div id="editscheme" style="display:none">
            <h1 class="my-3">
                Edit Scheme
            </h1>
            @Html.Partial("_PartialSchemeEdit")
        </div>

        <div id="schemelist">
            <h1 class="my-3">
                List of Loan Schemes
            </h1>
            @Html.Partial("_PartialSchemeList")
        </div>
    </div>
    <div id="listofficer" style="display:none">

        <h2 class="my-3">List of LoanOfficers</h2>
        <table id="grid"></table>
        <div id="pager"></div>

    </div>
</div>
@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">




<script>
    function displayAnalytics() {
        $("#listofficer").hide(500)
        $("#loanschemes").hide(500)
        $("#analytics").fadeIn(1500, function () {
            localStorage.setItem('currentSection', 'analytics'); // Save current section
        });
    }

    function displaySchemes() {
        $("#listofficer").hide(500)
        $("#analytics").hide(500)
        $("#loanschemes").fadeIn(1500, function () {
            localStorage.setItem('currentSection', 'loanschemes'); // Save current section
        });
    }

    function displayOfficers() {
        $("#loanschemes").hide(500)
        $("#analytics").hide(500)
        $("#listofficer").fadeIn(1500, function () {
            localStorage.setItem('currentSection', 'listofficer'); // Save current section
        });
    }

    $(document).ready(() => {
        $("#analytics").hide();
        $("#loanschemes").hide();
        $("#listofficer").hide();

        const currentSection = localStorage.getItem('currentSection');

        if (currentSection === 'analytics') {
            displayAnalytics();
        } else if (currentSection === 'loanschemes') {
            displaySchemes();
        } else if (currentSection === 'listofficer') {
            displayOfficers();
        }

        $("#grid").jqGrid({
            url: "/admin/GetData",
            datatype: "json",
            colNames: ["Id", "UserId", "First Name", "Last Name", "Email", "Phone Number", "Address", "Active Status", "Username", "Password", "FlatNo", "Building Name", "Street Name", "City", "Pincode", "State", "Country"],
            colModel: [
                { name: "OfficerId", key: true, hidden: true, editable: true, editrules: { edithidden: false } },
                { name: "User.UserId", hidden: true, editable: true, editrules: { edithidden: false } },
                { name: "User.FirstName", editable: true, searchoptions: { sopt: ['eq'] } },
                { name: "User.LastName", editable: true, searchoptions: { sopt: ['eq'] } },
                { name: "User.Email", editable: true, searchoptions: { sopt: ['eq'] } },
                { name: "User.PhoneNumber", editable: true, searchoptions: { sopt: ['eq'] } },
                { name: "FullAddress", editable: false, search: false },
                { name: "User.IsActive", editable: false, search: false, type: 'checkbox', formatter: 'checkbox', align: "center", cellattr: function () { return 'style="display: flex; justify-content: center; align-items: center;"'; } },
                { name: "User.Username", hidden: true, editable: true, editrules: { edithidden: true } },
                { name: "User.Password", hidden: true, editable: true, editrules: { edithidden: true } },
                { name: "User.Address.FlatNo", hidden: true, editable: true, editrules: { edithidden: true } }, // Hidden field for Flat No
                { name: "User.Address.BuildingName", hidden: true, editable: true, editrules: { edithidden: true } }, // Hidden field for Building Name
                { name: "User.Address.StreetName", hidden: true, editable: true, editrules: { edithidden: true } }, // Hidden field for Street Name
                { name: "User.Address.City", hidden: true, editable: true, editrules: { edithidden: true } }, // Hidden field for City
                { name: "User.Address.PinCode", hidden: true, editable: true, editrules: { edithidden: true } }, // Hidden field for Pin Code
                { name: "User.Address.State", hidden: true, editable: true, editrules: { edithidden: true } }, // Hidden field for State
                { name: "User.Address.Country", hidden: true, editable: true, editrules: { edithidden: true } } // Hidden field for Country
            ],
            height: "275",
            width: "1300",
            caption: "Product Records",
            pager: "#pager",
            rowNum: 6,
            rowList: [5, 10, 15],
            sortname: 'User.FirstName',
            sortorder: 'asc',
            viewrecord: true,
            gridComplete: () => {
                $("#grid").jqGrid('navGrid', '#pager', { edit: true, add: true, del: true, search: true, refresh: true },

                    {
                        //edit
                        url: "/admin/edit",
                        closeAfterEdit: true,
                        width: "600",
                        beforeShowForm: (form) => {
                            var addForm = $(form);

                            // Remove existing Username and Password fields if they are present
                            addForm.find("#tr_User\\.Username").css("display", "none");
                            addForm.find("#tr_User\\.Password").css("display", "none");
                        },
                        afterSubmit: (response, postdata) => {
                            var result = JSON.parse(response.responseText);
                            if (result.success) {
                                alert(result.message)
                                return [true];
                            }
                            else {
                                alert(result.message)
                                return [false];
                            }
                        }


                    }, {

                    //add
                    url: "/admin/add",
                    closeAfterAdd: true,
                    width: "500",
                    autoheight: true,
                    addCaption: "Add New Loan Officer",
                    beforeShowForm: (form) => {
                        var addForm = $(form);

                        // Remove existing Username and Password fields if they are present
                        addForm.find("#tr_User\\.Username").css("display", "");
                        addForm.find("#tr_User\\.Password").css("display", "");
                    },
                    afterSubmit: (response, postdata) => {
                        console.log(postdata)
                        var result = JSON.parse(response.responseText);
                        if (result.success) {
                            alert(result.message)
                            return [true];

                        } else {
                            alert(result.message)
                            return [false];
                        }
                    }

                }, {
                    url: "/admin/DeleteUpdate",
                    width: "400",
                    afterSubmit: (response, postdata) => {
                        var result = JSON.parse(response.responseText);
                        if (result.success) {
                            alert(result.message)
                            return [true];
                        }
                        else {
                            alert(result.message)
                            return [false];
                        }
                    }

                },
                    {
                        multipleSearch: false,
                        closeAfterSearch: true
                    }
                );
                $("#refreshButton").click(() => {
                    $("#grid").jqGrid('setGridParam', { search: false });

                    $("#grid").jqGrid('setGridParam', { page: 1 }).trigger('reloadGrid')
                })
            }


        })
        $("#grid").css("max-height", "300px");
    })
</script>
